@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* font family: 
    Bebas Neue for headings and body text
    Roboto for body text with italics and weights
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
:root {
    --color-rojo: #c91842;
    --color-negro:  #191a1f;
    --color--fondo:   #24272e;
  }

body {
    font-family: 'Roboto', sans-serif;
   
}
img {
    max-width: 100%;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.header {
    background: linear-gradient(rgba(29, 30, 35, 0.8), rgba(29, 30, 35, 0.8)); /* Fondo inicial */
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    min-height: 80vh;
    padding: 80px 0 0 0;
    position: relative; /* Asegura que las imágenes se posicionen relativas al header */
    overflow: hidden; /* Evita que las imágenes se desborden */

}
.header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* Coloca las imágenes detrás del contenido del header */
}

.header img.active {
    opacity: 1;
}


.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
   width: 100px;
   height: 120px;
   margin-top: 30px;
   border-radius: 20px;
   
}
.logo img {
    opacity: 1; /* Hace las imágenes visibles */
    z-index: 1; /* Coloca las imágenes delante de otros elementos */
    position: relative; /* Para que el z-index funcione correctamente */
    width: auto; /* Permite que las imágenes tengan su tamaño original */
    height: auto; /* Permite que las imágenes tengan su tamaño original */
}

   



.menu-icono {
   width: 40px;
    height: 40px;

}
.menu .navbar ul li {
    position: relative;
   
    float: left;
}

.menu .navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    padding: 20px;
}

.menu .navbar ul li a:hover {
    color: var(--color-rojo);
}

#menu {
    display: none;
}
.menu label {
    display: none;
    cursor: pointer;
}
.header-txt {
   text-align: center;
    padding:0 200px;
}
.header-txt h1 {
    font-size: 65px;
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-weight: 700;
  line-height: 1;
}
p {
    font-size: 18px;
   color: #d4d4d4;
   margin-bottom: 20px;
}
.btn-1 {
    display: inline-block;
    padding: 15px 30px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: var(--color-rojo);
    border-radius: 5px;
}

#about {
    padding: 100px 0;
    background: #24272e;
}
.about-content {
    display: flex;
  
}
.about-txt {
    flex-basis:5 0% ;
    padding: 35px;
}
span {
    font-size: 14px;
    text-transform: uppercase;
    color: var(--color-rojo);
}
h2 {
    color: white;
    font-size: 35px;
    margin: 15px 0;
    font-family: 'Bebas Neue', cursive;
    font-weight: 700;
    line-height: 1;
 
}

h2:hover {
   color: var(--color-rojo);
}


hr {
   border: 1px solid var(--color-principal);
   width: 10%;
   margin-bottom: 30px;
}

.about-img {
    flex-basis: 50%;
  
}
.about-img {
    border-radius: 15px;
    width: 200px;
    height: 150px;
}

#productos{
    padding: 10px 0;
    background-color: var(--color-negro);
    text-align: center;

}
.products-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

  

.placa-1 {
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 30%;
  height: 550px;
  background-color: #24272e;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  margin-left: 20px;
}

.placa-1 img {
    width: 100%;
    height: 220px;
  
  
}


.sello img {
    width: 80px;
    height: 80px;
}



.precio {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.precio:hover {
    color: var(--color-rojo);
   
}


.hogar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--color-negro);
}
  

    .producto-hogar {
        display: flex;
        flex-direction: column; /* Organiza los elementos verticalmente */
        align-items: center; /* Centra los elementos horizontalmente (opcional) */
        padding: 40px;
        width: 60%;
        height: 600px;
        background-color: #24272e;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        margin: 30px;
    }
    
    .producto-hogar img {
        max-width: 100%;
        margin-bottom: auto; /* Empuja la imagen hacia arriba y el span hacia abajo */
    }
    
    .producto-hogar .precio {
        margin-top: auto; /* Empuja el span hacia abajo si la imagen tiene margin-bottom: auto */
    }
    
    /* O, si solo quieres un espacio fijo: */
    .producto-hogar img {
        max-width: 100%;
        margin-bottom: 15px;
    }
    
   /* Baldosones de exterior */ 

#Placas_exterior {
    padding: 10px 0;
    background-color: var(--color-negro);
    text-align: center;
  
}

/* Contenedor de los productos para alinearlos horizontalmente */
.productos-exterior-container {
    display: flex; /* Habilita Flexbox para alinear los productos */
    justify-content: center; /* Centra los productos horizontalmente */
    align-items: flex-start; /* Alinea los ítems al inicio del contenedor (útil si tienen diferentes alturas) */
    padding: 20px;
    gap: 40px; /* Añade un espacio entre los productos. Puedes ajustar este valor. */
    flex-wrap: wrap; /* Permite que los productos se envuelvan a la siguiente línea si no caben */
    text-align: center;
}


/* Estilos individuales de cada producto */
.producto-exterior {
    display: flex; /* Usa flexbox para alinear el contenido dentro de cada producto si es necesario */
    flex-direction: column; /* Apila el contenido (imagen, texto) verticalmente */
    justify-content: space-between; /* Distribuye el espacio entre los elementos internos */
    align-items: center; /* Centra horizontalmente el contenido dentro del producto */
    padding: 20px;
    width: 30%; /* Ajusta el ancho para que quepan 3 productos por fila, dejando espacio para el gap */
    min-width: 200px; /* Establece un ancho mínimo para evitar que se hagan demasiado pequeños en pantallas chicas */
    height: 300px; /* Mantén una altura fija o considera min-height para flexibilidad */
    background-color: #24272e;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
   
}

.producto-exterior img {
    width: 100%;
    height: 180px;
    object-fit: cover; /* Asegura que la imagen cubra el área sin distorsionarse */
    margin-bottom: 10px; /* Espacio entre la imagen y el texto/contenido del producto */
}

/* SERVICIOS */
#servicios {
   padding: 10px 0;
    background-color: var(--color-negro);
    text-align: center;
   
}


.servicios-container ul li {
    display: inline-block;
    margin: 20px;
    justify-content: center;
    text-align: center;
    color: white;
    
}
.servicios-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 250px;
    height: 300px;
    margin: 10px;

      background-color: #24272e;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.servicios-img {
    width: 150px;
    height: 180px;

}
















h3 {
    color: white;
    font-size: 25px;
    margin: 15px 0;
    font-family: 'Bebas Neue', cursive;
    font-weight: 700;
    line-height: 1;
}
.contact {
    padding: 100px 0;
    background: #24272e;
    text-align: center;
}

/*  LOGO DE WHATSAPP*/
.float {
    position: fixed;
    width: 60px;
    height: 60px;
    background-color: #25d366;
    bottom: 40px;
     right: 40px;
     color: #fff;
     border-radius: 50%;
     text-align: center;
     box-shadow: 2px 2px 3px #999;
     z-index: 999;
}

.fa-whatsapp {
    font-size: 60px;
   
}
.float:hover {
    background-color: #28e76e;
   
}
.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 30px;
}

.footer-section {
    flex: 1 1 250px;
    margin-bottom: 80px;
}

.footer-section h3 {
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section li {
    margin-bottom: 5px;
}

.social-icons li {
    display: inline-block;
    margin-right: 10px;
}

.social-icons a {
    color: #191a1f;
    font-size: 30px;
}

.social-icons a:hover {
    color: var(--color-rojo);
}


.footer-bottom {
 
    text-align: center;
    padding-top: 20px;
    border-top: 2px solid var(--color-rojo);
    max-width: 1200px;
    margin: 0 auto;
}


@media (max-width:991px) {
    .menu {
        padding: 20px;

    
    
    }
    .menu label {
        display: initial;
    }

   

/* MENU HAMBURGUESA */
.menu .navbar {
    position: fixed;
    top: 60px; /* Ajusta la posicion segun la altura de el menú */
    
    width: 100%;
    right: 0;
    background-color: var(--color-rojo); /* Color de fondo para el navbar */

    overflow-y: auto; /* Permite el desplazamiento dentro del menú si es largo */
    max-height: calc(100vh - 40px); /* Ajusta la altura máxima */
    display: none;
    z-index: 10; /* Asegura que el menú esté encima de otros elementos */


}

.menu .navbar ul {
    flex-direction: column;
    padding: 0 20px;
}

.menu .navbar ul li {
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

/* CAMBIO DE COLOR NAVBAR */
.menu .navbar ul li a:hover {
    color: var(--color-negro); /* Usamos el color de acento amarillo */
}

#menu:checked ~ .navbar {
    display: block; /* Cambiado a block para mayor compatibilidad */
}



    .header {
        
        min-height: 0vh;
        padding: 80px 10px;
}

.header-txt {
    text-align: center;
    padding: 0;
}

    #about {
        padding: 30px;
       


    }
    .about-content {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
    }

    .about-txt {
     text-align: center;
    }
  

#productos {
    padding: 30px;
  
}
.products-content {

    justify-content: center;
    align-items: center;
    flex-direction: column;    
}

.placa-1 {
    margin-bottom: 30px;
  
}
.header-content {
    padding: 30px;
    margin-top: 0;
    flex-direction: column;
    text-align: center;
}

.header-txt {
    padding: 0 0 40px 0;
    margin-bottom: 20px;
    text-align: center;
}

.footer-container {
    justify-content: center;
    align-items: center;


}
.mapa {
    margin-top: 30px;
    
}
.footer-section {
  margin-left: 80px;
}



}


    @media (max-width:768px) {

        .menu {
            padding: 15px;
        }

    
    .header-content {
    
      margin-top: 80px;
    
    }
       .about-content {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .products-content {
         display: flex;
         align-items: center;
         justify-content: center;       
    }


.footer-section {
    flex: 1 1 100%;
    align-items: center;
    align-items: center;
    
}


}

@media (min-width:405px) and (max-width:687px) {
 
 .placa-1 {
    flex-direction: column;
 }
 
 
    .placa-1 img {
    
  width: 60%;

  height: auto;

  }

.placa-1 p {
text-align: center;
width: 100%;

}


   .producto-hogar {
      width: 400px;
      height: 450px;



    }
   
    .producto-hogar img {
        max-width: 350px;
        max-height: 400px;
        margin-top: 30px;
    }
    
   
    







}



@media (min-width:320px) and (max-width:480px) {



    .producto-hogar {
        width: 80%;
        height: auto;
        padding: 20px;
        gap: 20px;
        margin: 20px auto;
      
    }

    .float {
       width: 40px;
        height: 40px;
    }
    
    .fa-whatsapp {
        font-size: 40px;
       
    }
    .logo {
       max-width: 100px;
       max-height: 150px;
       margin-left: 30px;
    }
    .menu {
        padding: 10px;
    }
    .navbar ul li {
        font-size: 12px;
    }
    .header-txt h1 {
        font-size: 18px;
    }
    .header-txt p {
        font-size: 14px;
    }



    .placa-1 {
        display: flex;
        flex-wrap: wrap;
      width: 100%;

}

.placa-1 img,
.placa-1 div,
.placa-1 p {
  max-width: 100%;
  text-align: center;
}




.sello img {
  
width: 60px;
height: 50px;

}

       .mapa {
       
        width: 100%;
        height: auto;
        overflow: hidden;
        padding-bottom: 56.25%;
        position: relative;
     
    
    }

.mapa iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0;
    left: 0;
    top: 0;
}


}


@media (max-width:375px) {

    .placa-1 {

        width: 100%;
        padding: 10px;
        flex-direction: column;

    }
.placa-1 img {
    width: 200px;
    height: 180px;
}


    
.sello-container {
    flex-direction: column;
  
}.sello img {
    width: 100px;
    height: 90px;
}
    
}



